*~
*.elc
recentf
auto-save-list/
elpa/
private.el
custom.el
ellama-sessions
eln-cache
instant-maximized-window/
run-assoc/
transient/
wanderlust/
url/
eshell
history
server
tramp
viper
abbrev_defs
image-dired
request
helm-jira
straight
package-quickstart.el
places
bookmarks
var/
network-security.data
